.App {
  font-family: sans-serif;
  text-align: center;
}
/* styles.css */

body {
  font-family: Arial, sans-serif;
  background-color: #f0f8ff; /* Bleu ciel clair */
  margin: 0;
  padding: 0;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
}

h1,
h2 {
  color: #004d00; /* Vert foncé pour les titres */
  text-align: center;
}

h1 {
  margin-bottom: 20px;
}

h2 {
  margin-top: 20px;
  margin-bottom: 10px;
}

form {
  background-color: #e0f7fa; /* Bleu ciel clair pour les formulaires */
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.form-group {
  margin-bottom: 15px;
}

.form-group label {
  color: #004d00; /* Vert foncé pour les labels */
}

.form-control {
  border: 1px solid #004d00; /* Bordure verte pour les champs de formulaire */
}

button {
  background-color: #00bcd4; /* Bleu ciel pour les boutons */
  border: none;
  color: white;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
}

button:hover {
  background-color: #0097a7; /* Bleu ciel foncé pour l'état survolé */
}

.table {
  margin-top: 20px;
}

.table th,
.table td {
  padding: 10px;
  text-align: center;
}

.table th {
  background-color: #00bcd4; /* Bleu ciel pour les en-têtes de table */
  color: white;
}

.table tbody tr:nth-child(even) {
  background-color: #e0f2f1; /* Vert clair pour les lignes paires */
}

.table tbody tr:nth-child(odd) {
  background-color: #ffffff; /* Blanc pour les lignes impaires */
}

.mt-4 {
  margin-top: 20px;
}

.mb-4 {
  margin-bottom: 20px;
}
/* src/styles.css */
.form-control-custom {
  width: 100%;
  height: calc(
    2.25rem + 2px
  ); /* Ajuste la hauteur pour correspondre à form-control-lg */
  font-size: 1.25rem;
}
/* src/styles.css */

.form-control-custom {
  width: 100%;
  height: calc(
    2.25rem + 2px
  ); /* Ajuste la hauteur pour correspondre à form-control-lg */
  font-size: 1.25rem;
}

.form-group-custom {
  margin-bottom: 1.5rem; /* Espacement vertical */
}

.form-label-custom {
  margin-bottom: 0.5rem; /* Espacement entre le label et le champ */
}

.button-custom {
  margin-top: 1rem; /* Espacement entre le champ et le bouton */
}
/* src/components/PatrimoinePage.css */

.custom-button {
  background-color: #007bff;
  color: white;
  border: none;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
  border-radius: 4px;
  transition: background-color 0.3s ease;
}

.custom-button:hover {
  background-color: #0056b3;
}
